<link rel="stylesheet" href="css/admin.css">
<div class="marks sss">

	<!-- The Modal -->
	<div id="myModal" class="modal">
		<!-- Modal content -->
		<div class="modal-content">
			<div class="form-container">
				<form>
					<div>
						<div>
							<label>Mark Name</label>
						</div>
						<div>
							<input type="text" class="" placeholder="Mark Name" ng-model="test.name"/>
						</div>
					</div>
					<!-- <div>
						<div>
							<label>Choose Logo</label>
						</div>
						<div>
							<input type="file" class="" ng-model="test.logo"/>
							<input type="file" fileread="vm.uploadme" />
							<input type="file" id="myFile" size="50" fileread="vm.uploadme">
							<button ng-click="uploadFile()">upload me</button>			
						</div>
					</div> -->
					<div>
						<button ng-click="onSubmit()">Create Mark</button>
						<button class="close">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>

	<h1>Marks</h1>
	<div class="container-button">
		<button id="myBtn" >Create New Mark</button>
	</div>
	<div class="mark" ng-repeat="team in teams">

		<h2>{{team}}</h2>

	</div>
	<div class="container-button">
		<button>Create New Mark</button>
	</div>
</div>