<link rel="stylesheet" href="css/admin.css">
<div class="big-counts">
	<h1>Big Counts</h1>
	<div class="big-count" ng-repeat="bigCount in bigCountsList">
		<div class="logo-big-count">
			<a href="/#/admin/{{bigCount.id}}"><img ng-src="{{bigCount.logo}}" alt=""></a>
		</div>

		<div class="logo-name">
			<h3>{{bigCount.name}}</h3>
		</div>
	</div>
</div>
