
<link rel="stylesheet" href="css/admin.css">

<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> -->
<div class="title-container">
	<h1>Mark</h1>
</div>
<div class="table-container" ng-controller="markController">
	<div class="message-container">
		<label class="messaga"></label>
	</div>
	<form class="tableFrom" name="tableform" onaftersave="saveTable()" oncancel="cancel()">
		<table class="table">
			<thead>
				<th><input type="checkbox" id="checkall" /></th>
				<th>Name</th>
				<th>Number</th>
				<th>Skype</th>
				<th>Facebook</th>
				<th>Twitter</th>
				<th>LinkedIn</th>
				<th>Instagram</th>
				<th>Edit</th>
				<th>Delete</th>
			</thead>
			<tbody>
				<tr ng-repeat="member in mark.members track by $index" id="{{$index}}">
					<td>
						<input type="checkbox" class="checkthis" ng-click="enable($index)"/>
					</td>

					<td>
						<input type="text" value="{{ member.name || 'empty' }}" disabled>
					</td>

					<td>
						<input type="text" value="{{ member.number || 'empty' }}" disabled>
					</td>

					<td>
						<input type="text" value="{{ member.skype.user || 'empty' }}" disabled>
					</td>
					
					<td>
						<input type="text" value="{{ member.social.facebook || 'empty' }}" disabled>
					</td>

					<td>
						<input type="text" value="{{ member.social.twitter || 'empty' }}" disabled>
					</td>

					<td>
						<input type="text" value="{{ member.social.linkedIn || 'empty' }}" disabled>
					</td>

					<td>
						<input type="text" value="{{ member.social.instagram || 'empty' }}" disabled>
					</td>

					<td>
						
						<button class="btn" data-title="Edit" ng-click="editMember(member,$index)" disabled>
							<img src="/images/edit.jpg" alt="">
						</button>
						
					</td>
					<td>
						<button class="btn" data-title="Edit" disabled>
							<img src="/images/delete.png" alt="">
						</button>
					</td>
				</tr>
			</tbody>
		</table>
		<div class="btn-form">
			
			<button type="button" ng-click="createNewMember()" class="">Add Member</button>
			
		</div>

	</form>

</div>