	<div class="data-container">
		<div class="inital-conatiner">
			<div class="wrapper-welcome">
				<div class="banner" style="display: none">
					<div id="main-container">
						<div class="welcome-logo_view">
							<img id="prodigious-logo-1" class="prodigious-logo_1 center" src="/images/prodigious-logo.png" alt="">
							<img id="prodigious-logo-2" class="prodigious-logo_2 center hide" src="/images/prodigious-logoFull.png" alt="">
						</div>
						<div class="welcome-text_view">
							<h2 id="welcome-text-1" class="welcome-text-1_properties hide">
							Welcome
							</h2>
							<h2 id="welcome-text-2" class="welcome-text-2_properties hide">
							Meet our team at
							</h2>
							<h2 id="welcome-text-3" class="welcome-text-3_properties hide">
							Please select an account:
							</h2>
						</div>
					</div>
				</div>
			</div>

			<div class="select-container">
				<nav>
					<div class="div-logo">
					    <a href="http://www.prodigious.com" alt="prodigious-logo" target="_blank"><img class="header-logo" src="../images/logo.svg" alt="image/svg+xml"></a>
					</div>
					<div class="div-big-counts">
					   <div class="border-light-color">
							<select ng-change="showsCount(Count)" ng-model="Count">
								<option class="menu-nav" ng-repeat="bigCount in bigCountsList" value="{{bigCount.name}}">{{bigCount.name}}</option>
							</select>
					   </div>
					</div>
					<br/>
					<div class="width-zero div-teams">
						<div>
							<select  class="select-teams" ng-change="changeTeam(teamSelected)" ng-model="teamSelected">
								<option class="menu-nav" ng-repeat="teamOfTeams in teams" value="{{teamOfTeams}}">{{teamOfTeams}}</option>
							</select>
						</div>
					</div>
				</nav>
			</div>
		</div>
		<div class="gallery-container">

			<div class="gallery clearfix" ng-if="!!team.members">
				
				<figure class="photo">	
					<img class="isEmpty" fallback-src="images/employees/user.jpg" ng-src="images/{{team.ruta}}{{team.number}}.jpg" alt="Hippo">
					<figcaption>{{team.name2}}</figcaption>
				</figure>

				<figure class="photo" ng-repeat="member in team.members">	
					<img class="isEmpty" fallback-src="images/employees/user.jpg" ng-src="images/{{member.ruta}}{{member.number}}.jpg" alt="Hippo">
					<figcaption>{{member.name}}</figcaption>
					<div class="social">
						<a ng-repeat="(key, value) in team.social" href="{{value}}{{member.social[key]}}" target="_blank">
							
							<span class="icon-{{key}}"></span>
							
						</a>
						<a ng-repeat="(key, value) in member.skype">
							<span class="icon-skype">
							      <span class="tooltiptext">{{value}}</span>
							      
							</span>
						</a>
					</div>
				</figure>
			</div>
		</div>
	</div>
	<script type="text/javascript" src="js/test.js"></script>




