/*******************************/
/*        BIG COUNTS           */
/*******************************/
.big-counts{
	margin-top: 50px;
	font-family: 'Indie Flower';
	text-align: center;
}
.big-counts .big-count{
    width: 90%;
    margin: 0 auto;
    margin-bottom: 10px;
}
.big-counts .big-count .logo-big-count{
	width: 100%;
	margin: 0 auto;
	/*background-color: red;*/
}
.big-counts .big-count .logo-big-count img{
	width: 100%;
}
.big-counts .logo-name{
	width: 100%;
	margin: 0 auto;
	/*background-color: green;*/
	text-align: center;
}

.container-button button{
	/*border: none;*/
	background-color: #ffffff;
	height: 100px;
	padding: 15px;
}

/* Modal */
/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: left;
}
.modal-content .form-container{
	/*background-color: red;*/
	padding: 15px;
	width: 300px;
	margin: 0 auto;
}
.modal-content .form-container label{
	height: 50px;
	margin: 10px;
	width: 100%
}
.modal-content .form-container input{
	height: 50px;
	margin: 10px;
	width: 100%;
}
.modal-content .form-container button{
	margin: 10px;
}

/* The Close Button */
.close {
    color: #aaa;
    /*float: right;*/
    /*font-size: 28px;*/
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
/* end Modal*/




/*******************************/
/*           MARKS             */
/*******************************/
.title-container{
	text-align: center;
}
.marks{
	margin-top: 50px;
	font-family: 'Indie Flower';
	text-align: center;
}

.marks .mark{
    width: 95%;
    margin: 0 auto;
    margin-bottom: 10px;
    height: 400px;
    background-color: #795548;
}

.table-container{
    width: 100%;
    background-color: #ffffff;
}

.table-container .table {
    width: 95%;
    max-width: 100%;
    margin: 20px auto;
}

.table-container .table thead tr th {
    border-bottom: 2px solid #ddd;
    padding: 8px;
    line-height: 1.5;
    text-align: left;
}
.table-container .table tbody tr td {
	border-bottom: 1px solid #000000;
    padding: 8px;
    height: 50px;
	margin-right:30px;
	background-color: #567312;
}

.table-container .table tbody tr td input{
    padding: 8px;
    height: 40px;
	width: 99%;
	height: 100%;
	border: none;
}
input[type="text"]:disabled
{

	background-color:#dddddd;

}
.table-container .tableFrom .table tbody .btn:disabled{
	background-color:#dddddd;
}
.table-container .tableFrom .table tbody .btn{
	width: 100%;
	height: 100%;
	border: none;
	background-color: #ffffff;
}
.table-container .tableFrom .table tbody .btn img{
	width: 20px;
}

.notShow{
	width: 0;
    border: none;
}
.notShow img{
	width: 0;
}


/*******************************/
/*           TEAM              */
/*******************************/




/*******************************/
/*        MEDIA QUERIES        */
/*******************************/

@media screen and (min-width: 480px) {
	
	/* big-counts */
	.big-counts{
		text-align: center;
	}
	.big-counts .big-count{
		width: 45%;
		margin:10px;
		display: inline-block;
	}

	/* marks */
	.marks{
		text-align: center;
	}

	.marks .mark{
	    width: 45%;
		margin:10px;
		display: inline-block;
		height: 340px;
	}

}

@media screen and (min-width: 768px) {

	.big-counts{
		text-align: center;
	}
	.big-counts .big-count{
		width: 21%;
		margin:10px;
		display: inline-block;
	}

	/* marks */
	.marks{
		text-align: center;
	}

	.marks .mark{
		width: 21%;
		margin:10px;
		display: inline-block;
		height: 250px;
	}

}

@media screen and (min-width: 1024px) {

}