@charset "UTF-8";
@import url(clearfix.css);

* {
  margin: 0;
  padding: 0;
}

html{
  height: 0;
}

/**
* Welcome Banners
*/

.wrapper-welcome {
  position: relative;
  height: 100%;
}
.welcome-iframe{
    height: 320px;
    border: none;
    width: 100%;
}
/*******************************/
/*        Social Network       */
/*******************************/
.photo .social img {
  width: 30%;
}

.icon-facebook {
  background: url(../images/SocialNetwork/facebookIcon.png) no-repeat top center;
  width: 24px;
  height: 24px;
}

.icon-twitter {
  background: url(../images/SocialNetwork/twitter.png) no-repeat top center;
  width: 24px;
  height: 24px;
}

.icon-instagram {
  background: url(../images/SocialNetwork/instagram.png) no-repeat top center;
  width: 24px;
  height: 24px;
}

.icon-skype {
  background: url(../images/SocialNetwork/skype.png) no-repeat top center;
  width: 24px;
  height: 24px;
  position: relative;
  display: inline-block;
}

.icon-skype .tooltiptext {
    visibility: hidden;
    width: 220px;
    background-color: #a02323;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 60%;
    margin-left: -190%; //60 37
    opacity: 0;
    transition: opacity 0.5s;
}

.icon-skype .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #a02323 transparent transparent transparent;
}

.icon-skype:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.icon-linkedIn {
  background: url(../images/SocialNetwork/linkedin.png) no-repeat top center;
  width: 24px;
  height: 24px;
}

*:after,
*:before {
  box-sizing: border-box;
}

body {
  background-color: #F9ECDF;
  overflow-x: hidden;
}

/*******************************/
/*        Data Container       */
/*******************************/
.data-container {
  background-color: #F9ECDF;
  height: 100%;
}
.data-container .inital-conatiner{
  margin-bottom: 30px;
  padding-bottom: 18px;
  margin-top: 16px;
}

/**
* boder style and border color for the div that contain the select tag
*/
.data-container .inital-conatiner .select-container nav div .border-light-color{
  width: 80%;
  height: 46px;
  margin: 0 auto;
  border: 6px solid #d9d9d9;
  border-radius: 15px;
  -moz-border-radius: 15px;
  -webkit-border-radius: 15px;
  -webkit-box-shadow: 10px 10px 32px 2px rgba(0,0,0,0.15);
  -moz-box-shadow: 10px 10px 32px 2px rgba(0,0,0,0.15);
  box-shadow: 10px 10px 32px 2px rgba(0,0,0,0.15);
  // margin-left: -5%;
}
/**
* DropDown of the data container
*/
.data-container .inital-conatiner .select-container nav div .border-light-color select{
    width: 100%;
    height: 100%;
    border: 5px solid #f2f2f2;
    border-radius: 8px;
    padding-left: 15px;
    background: url(../images/arrow-down.png) no-repeat right white;
   
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;

    /*remove arrows in select*/
    -webkit-appearance: none;
    -moz-appearance: none;
}
/**
* don't show the select teams
*/
.data-container .inital-conatiner .select-container nav .div-teams div{
    width: 0px;
    height: 0px;
}
.data-container .inital-conatiner .select-container nav .div-teams div .select-teams{
    width: 0px;
    height: 0px;
    border: none;
}

.data-container .inital-conatiner .select-container nav .div-teams div.showTeamsDropdown{
    width: 80%;
    height: 46px;
    transition: width 2s;
}

.header-logo{
   margin-top: -40px;
   margin-bottom: -40px;
   width:300px;
   height: 150px;
}

.div-logo{
  display: none;
  text-align: center;
}

/*******************************/
/*        gallery-container    */
/*******************************/

.data-container .gallery-container {
  position: relative;
  /*background-color:red;*/
  margin-top: 50px; 
}
.data-container .gallery-container .gallery .photo{
    width: 80%;
    margin: 20px auto 0;
    margin:10px;
}

.data-container .gallery-container .gallery {
  text-align: center;
}

.data-container .gallery-container .gallery .photo{
  transform: rotateZ(2deg) !important;
  background: url(../images/pin2_shadow.png) no-repeat  #ffffff top center;
  padding-top: 20px;
  background-size: 15px 18px;
}

.data-container .gallery-container .gallery .photo:nth-child(2n+0){
  transform: rotateZ(-7deg) !important;
  background: url(../images/pin3_shadow.png) no-repeat  #ffffff top center;
  padding-top: 20px;
  background-size: 15px 18px;
}

.data-container .gallery-container .gallery .photo:nth-child(3n+0){
  transform: rotateZ(7deg) !important;
  background: url(../images/pin4_shadow.png) no-repeat  #ffffff top center;
  padding-top: 20px;
  background-size:15px 18px;
}

.data-container .gallery-container .gallery .photo {
  position: relative;
  box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.25);
  float: center;
  margin: 0 auto;
  border-radius: 3px;
  padding: 10px;
  -webkit-transition: all 100ms ease-out;
  transition: all 100ms ease-out;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  padding-top: 20px;
}

.data-container .gallery-container .photo img {
  width: 100%;
  height: auto;
  position: relative;
}

.data-container .gallery-container .photo figcaption {
  margin-top: 10px;
  margin-bottom: 5px;
  font-family: 'Indie Flower';
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  line-height: 1;
  color: black;
}

.data-container .gallery-container .photo .social span {
  display: inline-block;
  height: 24px;
  width: 24px;
}

.data-container .gallery-container .photo .social span.tooltiptext {
  display: inline-block;
  height: 24px;
  width: auto;
  padding: 5px 5px 0px 5px;
}

.data-container .gallery-container .photo .social a {
  text-decoration: none;
}

/*******************************/
/*        MEDIA QUERIES        */
/*******************************/

@media screen and (min-width: 768px) {
  .data-container .gallery-container .gallery .photo:hover {
    -webkit-transform: rotateZ(0deg) scale(1.2) !important;
    transform: rotateZ(0deg) scale(1.2) !important;
    z-index: 257 !important;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, 0.1), 0 0 29px rgba(0, 0, 0, 0.2);
  }
}

@media screen and (min-width: 768px) {

  .data-container .inital-conatiner .select-container nav {
    width: 100%;
    display: flex;
  }

  .data-container .inital-conatiner .select-container nav div{
    text-align: center;
    width: 100%;
  }

  .data-container .inital-conatiner .select-container nav div select{
    width: 80%;
  }

  .data-container .inital-conatiner .select-container nav .div-teams select.showTeamsDropdown{
    width: 80%;
    height: 46px;
    transition: width 2s;
  }

  .data-container .inital-conatiner .select-container .width-zero{
    width: 0;
  }
  
  .data-container .gallery-container .gallery .photo {
    display: inline-block;
    width: 40%;
    margin: 10px
  }
}

@media screen and (min-width: 1024px) {
  .data-container .gallery-container .gallery .photo {
    display: inline-block;
    width: 21%;
    margin: 10px
  }
}
